{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirm you are renewing an existing lease – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Confirm you are renewing an existing lease
      </h1>
      <p>
        This application creates one transaction that closes the old lease and registers a new one for the same property to the same tenants. It can only be used for this combination of lease transactions.
      </p>
      <form action="/application-about/v1-3/confirm-renewing-existing-lease" method="post">
        {{ govukButton({
          text: "Confirm"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}