{% extends "layouts/main.html" %}

{% set showPhaseBanner = true %}
{% set showBackLink = false %}
{% set useAlternativeBackLink = false %}
{% set alternativeBackLinkHref = "/saved-applications" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Your application is being validated
            </h1>
            <p class="govuk-body">
                We’re validating your application to check that the information is accurate. 
            </p>
            <h2 class="govuk-heading-l">
                How the validation process works
            </h2>
            <p class="govuk-body">
                We will run checks to identify if there are any discrepancies in the information in your application and supporting documents (such as names; addresses and dates). 
            </p>
            <p class="govuk-body">
               We can’t tell you exactly how long validation will take, but the status of your application will be automatically updated on the Applications page once validation is complete. Applications statuses are explained here.
            </p>

            {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
            {% from "govuk/components/tag/macro.njk" import govukTag %}

            {{ govukSummaryList({
              card: {
                title: {
                  text: "Application statuses"
                }
              },
              rows: [
                {
                  key: {
                    html: govukTag({ text: "Validating", classes: "govuk-tag--blue status-column" })
                  },
                  value: {
                    html: "We’re validating the information. If we find errors, the status will change to Rejected. If there are no errors, it will change to Received."
                  }
                },
                {
                  key: {
                    html: govukTag({ text: "Received", classes: "govuk-tag--green status-column" })
                  },
                  value: {
                    html: "We’ve successfully validated your application and it is on the day list."
                  }
                },
                {
                  key: {
                    html: govukTag({ text: "Rejected", classes: "govuk-tag--red status-column" })
                  },
                  value: {
                    html: "Errors have been found and the application is Rejected. You’ll need to open the application from the Applications page and resolve the errors."
                  }
                },
                {
                  key: {
                    html: govukTag({ text: "Draft", classes: "govuk-tag--grey status-column" })
                  },
                  value: {
                    html: "You’re still working on the application and it has not been sent for validation."
                  }
                }
              ]
            }) }}

            <div class="govuk-button-group">
                {{ govukButton({
                    text: "Continue to Applications page",
                    href: "/vcad/ur-v1/s2/3-saved-applications"
                }) }}

            </div>
        </div> <!-- ./govuk-grid-column-two-thirds -->
    </div> <!-- ./govuk-grid-row -->

</div> <!-- ./govuk-width-container -->



{% endblock %}
