//
// For guidance on how to add CSS and SCSS see:
// https://prototype-kit.service.gov.uk/docs/adding-css-javascript-and-images
// 

// Add extra styles here


/* General Styles */

/* Custom border for the header container */
.govuk-header__container {
    border-bottom: 10px solid #789904;
}

/* task list (DRS)*/
.task-list-side-bar {
    border-top: 4px solid rgb(86, 148, 202);
    padding-top: 15px;
}

/* utilities */
.indent-20 {
    padding-left: 20px;
}

.highlight {
}



/* Warning text - small */

.govuk-warning-text--small-icon .govuk-warning-text__icon {
  min-width: 25px;
  min-height: 25px;
  margin-top: -4px;
  border-width: 2px;
  font-size: 21px;
  line-height: 21px;
}

@media (min-width: 40.0625em) {
  .govuk-warning-text--small-icon .govuk-warning-text__icon {
    margin-top: -1px;
  }
}

.govuk-warning-text--small-icon .govuk-warning-text__text {
  padding-left: 35px;
}