{% extends "layouts/main.html" %}

{% set showPhaseBanner = true %}
{% set showBackLink = false %}
{% set useAlternativeBackLink = false %}

{# Values are passed in from routes.js. Do not rely on per-title session keys here. #}
{% set dn200Answer = caDn200Answer or '' %}
{% set dn200Number = caDn200Number or '' %}
{% set dn201Answer = caDn201Answer or '' %}
{% set dn201Number = caDn201Number or '' %}
{% set dn202Answer = caDn202Answer or '' %}
{% set dn202Number = caDn202Number or '' %}
{% set tableError = caTableError or false %}

{% block pageTitle %}
  {% if tableError %}Error: {% endif %}Tell us about official search numbers – Digital Registration Service – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <a href="/charge-automation/v1/multi-title-task-list?state={{ caStateEncoded }}" class="govuk-back-link">Return to application</a>

      {% if tableError %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">There is a problem</h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                <li>
                  <a href="#ca-multi-table">Add an official search number or confirm that you do not have one for every title</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      {% endif %}

      <span class="govuk-caption-l">Charge</span>
      <h1 class="govuk-heading-xl">Tell us about official search numbers</h1>

      <p class="govuk-body">For each title, add an official search number or confirm that you do not have one.</p>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full" id="ca-multi-table">
      <table class="govuk-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">Title number</th>
            <th scope="col" class="govuk-table__header">Priority</th>
            <th scope="col" class="govuk-table__header">Transaction</th>
            <th scope="col" class="govuk-table__header">Official search number</th>
            <th scope="col" class="govuk-table__header">Action</th>
          </tr>
        </thead>
        <tbody class="govuk-table__body">

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">DN200</th>
            <td class="govuk-table__cell">1</td>
            <td class="govuk-table__cell">Charge</td>
            <td class="govuk-table__cell">
              {% if caDn200RowError %}
                <p class="govuk-error-message govuk-!-margin-bottom-1">
                  <span class="govuk-visually-hidden">Error:</span> Add an official search number or confirm that you do not have one
                </p>
              {% endif %}
              {% if dn200Answer === 'yes' %}
                {{ dn200Number }}
              {% elif dn200Answer === 'no' %}
                Not provided
              {% else %}
                Not started
              {% endif %}
            </td>
            <td class="govuk-table__cell">
              <a class="govuk-link" id="ca-multi-DN200-change" href="/charge-automation/v1/multi-title-question/DN200?state={{ caStateEncoded }}">Change<span class="govuk-visually-hidden"> official search number for DN200</span></a>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">DN201</th>
            <td class="govuk-table__cell">2</td>
            <td class="govuk-table__cell">Charge</td>
            <td class="govuk-table__cell">
              {% if caDn201RowError %}
                <p class="govuk-error-message govuk-!-margin-bottom-1">
                  <span class="govuk-visually-hidden">Error:</span> Add an official search number or confirm that you do not have one
                </p>
              {% endif %}
              {% if dn201Answer === 'yes' %}
                {{ dn201Number }}
              {% elif dn201Answer === 'no' %}
                Not provided
              {% else %}
                Not started
              {% endif %}
            </td>
            <td class="govuk-table__cell">
              <a class="govuk-link" id="ca-multi-DN201-change" href="/charge-automation/v1/multi-title-question/DN201?state={{ caStateEncoded }}">Change<span class="govuk-visually-hidden"> official search number for DN201</span></a>
            </td>
          </tr>

          <tr class="govuk-table__row">
            <th scope="row" class="govuk-table__header govuk-!-font-weight-regular">DN202</th>
            <td class="govuk-table__cell">3</td>
            <td class="govuk-table__cell">Charge</td>
            <td class="govuk-table__cell">
              {% if caDn202RowError %}
                <p class="govuk-error-message govuk-!-margin-bottom-1">
                  <span class="govuk-visually-hidden">Error:</span> Add an official search number or confirm that you do not have one
                </p>
              {% endif %}
              {% if dn202Answer === 'yes' %}
                {{ dn202Number }}
              {% elif dn202Answer === 'no' %}
                Not provided
              {% else %}
                Not started
              {% endif %}
            </td>
            <td class="govuk-table__cell">
              <a class="govuk-link" id="ca-multi-DN202-change" href="/charge-automation/v1/multi-title-question/DN202?state={{ caStateEncoded }}">Change<span class="govuk-visually-hidden"> official search number for DN202</span></a>
            </td>
          </tr>

        </tbody>
      </table>
    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/charge-automation/v1/multi-title-tell-us-about-official-search-numbers" method="post" novalidate>
        <input type="hidden" name="ca_multi_state" value="{{ caStateEncoded }}">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>

</div>
{% endblock %}
