{% extends "layouts/main.html" %}

{% set showPhaseBanner = true %}
{% set showBackLink = true %}
{% set useAlternativeBackLink = true %}
{% set alternativeBackLinkHref = "/charge-automation/v1/multi-title-tell-us-about-official-search-numbers" %}
{% if caStateEncoded %}
  {% set alternativeBackLinkHref = "/charge-automation/v1/multi-title-tell-us-about-official-search-numbers?state=" ~ caStateEncoded %}
{% endif %}

{# Values are passed in from routes.js. Do not rely on per-title session keys here. #}
{% set currentTitle = caCurrentTitle or 'DN200' %}
{% set currentAnswer = caCurrentAnswer or '' %}
{% set currentNumber = caCurrentNumber or '' %}
{% set currentExample = caCurrentExample or '114-B2-L5' %}
{% set currentPriority = caCurrentPriority or '1' %}
{% set questionError = caQuestionError or '' %}

{% block pageTitle %}
  {% if questionError %}Error: {% endif %}Do you have an official search number for this title? – Digital Registration Service – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if questionError %}
        <div class="govuk-error-summary" data-module="govuk-error-summary">
          <div role="alert">
            <h2 class="govuk-error-summary__title">There is a problem</h2>
            <div class="govuk-error-summary__body">
              <ul class="govuk-list govuk-error-summary__list">
                {% if questionError === 'noChoice' %}
                  <li><a href="#ca_multi_answer">Select yes if you have an official search number for this title</a></li>
                {% elif questionError === 'emptyInput' %}
                  <li><a href="#ca_multi_number">Enter an official search number</a></li>
                {% elif questionError === 'wrongFormat' %}
                  <li><a href="#ca_multi_number">Enter the official search number in the correct format</a></li>
                {% endif %}
              </ul>
            </div>
          </div>
        </div>
      {% endif %}

      <span class="govuk-caption-l">Charge</span>

      <form action="/charge-automation/v1/multi-title-question" method="post" novalidate>

        {# The encoded state carries all 3 rows. This is the source of truth for this journey. #}
        <input type="hidden" name="ca_multi_state" value="{{ caStateEncoded }}">
        <input type="hidden" name="ca_multi_title" value="{{ currentTitle }}">

        <div class="govuk-form-group {% if questionError === 'noChoice' %}govuk-form-group--error{% endif %}">
          <fieldset class="govuk-fieldset" aria-describedby="ca-multi-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--xl">
              <h1 class="govuk-fieldset__heading">Do you have an official search number for this title?</h1>
            </legend>

            <p class="govuk-body" id="ca-multi-hint">
              <strong>Title number:</strong> {{ currentTitle }}<br>
              <strong>Priority:</strong> {{ currentPriority }}<br>
              <strong>Linked transaction:</strong> Charge
            </p>

            {% if questionError === 'noChoice' %}
              <p id="ca_multi_answer-error" class="govuk-error-message">
                <span class="govuk-visually-hidden">Error:</span> Select yes if you have an official search number for this title
              </p>
            {% endif %}

            <div class="govuk-radios" data-module="govuk-radios">

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="ca_multi_answer" name="ca_multi_answer" type="radio" value="yes" data-aria-controls="conditional-multi-yes" {% if currentAnswer === 'yes' %}checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="ca_multi_answer">Yes</label>
              </div>

              <div class="govuk-radios__conditional {% if currentAnswer !== 'yes' %}govuk-radios__conditional--hidden{% endif %}" id="conditional-multi-yes">
                <div class="govuk-form-group {% if questionError === 'emptyInput' or questionError === 'wrongFormat' %}govuk-form-group--error{% endif %}">
                  <label class="govuk-label" for="ca_multi_number">Official search number</label>
                  <div id="ca_multi_number-hint" class="govuk-hint">For example, {{ currentExample }}</div>
                  {% if questionError === 'emptyInput' %}
                    <p id="ca_multi_number-error" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span> Enter an official search number
                    </p>
                  {% elif questionError === 'wrongFormat' %}
                    <p id="ca_multi_number-error" class="govuk-error-message">
                      <span class="govuk-visually-hidden">Error:</span> Enter the official search number in the correct format
                    </p>
                  {% endif %}
                  <input class="govuk-input govuk-input--width-10 {% if questionError === 'emptyInput' or questionError === 'wrongFormat' %}govuk-input--error{% endif %}" id="ca_multi_number" name="ca_multi_number" type="text" value="{{ currentNumber }}" aria-describedby="ca_multi_number-hint">
                </div>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="ca_multi_answer-2" name="ca_multi_answer" type="radio" value="no" {% if currentAnswer === 'no' %}checked{% endif %}>
                <label class="govuk-label govuk-radios__label" for="ca_multi_answer-2">No</label>
              </div>

            </div>
          </fieldset>
        </div>

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

      <details class="govuk-details">
        <summary class="govuk-details__summary">
          <span class="govuk-details__summary-text">What is an official search number?</span>
        </summary>
        <div class="govuk-details__text">
          An official search number is a reference number assigned to an Official Search of Whole (OS1) or Official Search of Part (OS2). You can find it on your official search certificate. It follows a 7-character format, for example “114-B2-L5”.
        </div>
      </details>

    </div>
  </div>

</div>
{% endblock %}
