{% extends "layouts/main.html" %}

{% set showPhaseBanner = true %}
{% set showBackLink = false %}
{% set useAlternativeBackLink = false %}
{% set alternativeBackLinkHref = "/saved-applications" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}


{% block content %}
<div class="govuk-width-container">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form action="/ssa/v4/enter-title-numbers-non-ssa" method="post">

        <h1 class="govuk-heading-xl">Enter title numbers</h1>

        <div class="govuk-hint">
          You can add up to 25 titles per application.
        </div>

        {% from "govuk/components/details/macro.njk" import govukDetails %}
        {{ govukDetails({
          summaryText: "About applications relating to more than one title number",
          html: '
            <p>You can use this service for applications of up to 25 title numbers. In order to register multiple title numbers in one application:</p>
            <ul class="govuk-list govuk-list--bullet">
              <li>all titles must have the same proprietors registered against each title number</li>
              <li>transferors and transferees must be the same for each title number</li>
            </ul>'
        }) }}

        <div class="govuk-form-group">
          <!-- <label class="govuk-label" for="title-number">
            Title number
          </label> -->

          {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}

          {{ govukWarningText({
            text: "Enter your title numbers one at a time. Cut and paste bulk upload is only available for applications with 26 to 199 titles.",
            iconFallbackText: "Warning"
          }) }}
          <div id="title-number-hint" class="govuk-hint">
            For example, "A123" or "XY5678"
          </div>
          <input class="govuk-input govuk-input--width-20" id="title-number" name="title-number" type="text" aria-describedby="title-number-hint">
        </div>

        {{ govukButton({
          text: "Add to application",
          classes: "govuk-button govuk-button--secondary"
        }) }}

        <h2 class="govuk-heading-m govuk-!-margin-top-6">Titles in this application</h2>
        <table class="govuk-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">Title number</th>
              <th scope="col" class="govuk-table__header">Property description</th>
              <th scope="col" class="govuk-table__header">Options</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell">{{ data['single-title'] }}</td>
              <td class="govuk-table__cell">1 High Street, Plymouth</td>
              <td class="govuk-table__cell"><a class="govuk-link" href="#">Remove</a></td>
            </tr>
          </tbody>
        </table>

        {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}
        {{ govukInsetText({
          text: "You can amend title numbers later."
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>
</div>

 <!-- ./govuk-width-container -->

 <script>
  document.addEventListener("DOMContentLoaded", function () {
    const params = new URLSearchParams(window.location.search);
    const title = params.get("title");
    if (title) {
      document.getElementById("dynamic-title-number").textContent = title;
    }
  });
</script>



{% endblock %}
