{% extends "layouts/main.html" %}

{% block pageTitle %}
  Registered proprietors - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Return to application",
    href: "/sev/v-1-4/9-task-list-transaction-details"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Single transaction application: Severance of joint tenancy</span>

      <h1 class="govuk-heading-xl">Registered proprietors</h1>

      <p class="govuk-body">These are the registered proprietors for this title.</p>

      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
      {% from "govuk/components/radios/macro.njk" import govukRadios %}

      <div class="govuk-!-margin-bottom-6">
        {{ govukSummaryList({
          card: {
            title: {
              text: "Proprietor 1"
            }
          },
          rows: [
            {
              key: {
                text: "Transferor type"
              },
              value: {
                text: "Private individual"
              }
            },
            {
              key: {
                text: "Transferor name"
              },
              value: {
                text: "Burt Dowd"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Amend",
                    visuallyHiddenText: "transferor name for proprietor 1"
                  }
                ]
              }
            },
            {
              key: {
                text: "Capacity"
              },
              value: {
                text: "Entitled to be registered as proprietor"
              }
            },
            {
              key: {
                text: "Power of attorney"
              },
              value: {
                text: "Not in place"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Add an attorney",
                    visuallyHiddenText: "for proprietor 1"
                  }
                ]
              }
            }
          ]
        }) }}
      </div>

      <div class="govuk-!-margin-bottom-6">
        {{ govukSummaryList({
          card: {
            title: {
              text: "Proprietor 2"
            }
          },
          rows: [
            {
              key: {
                text: "Transferor type"
              },
              value: {
                text: "Private individual"
              }
            },
            {
              key: {
                text: "Transferor name"
              },
              value: {
                text: "Sophie Green"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Amend",
                    visuallyHiddenText: "transferor name for proprietor 2"
                  }
                ]
              }
            },
            {
              key: {
                text: "Capacity"
              },
              value: {
                text: "Registered proprietor"
              }
            },
            {
              key: {
                text: "Power of attorney"
              },
              value: {
                text: "Not in place"
              },
              actions: {
                items: [
                  {
                    href: "#",
                    text: "Add an attorney",
                    visuallyHiddenText: "for proprietor 2"
                  }
                ]
              }
            }
          ]
        }) }}
      </div>

      <form action="/sev/v-1-4/10-registered-proprietors" method="post">
        <input type="hidden" name="sev_applicationReference" value="{{ data['sev_applicationReference'] }}">
        <input type="hidden" name="sev_titleNumber" value="{{ data['sev_titleNumber'] }}">
        {{ govukRadios({
          idPrefix: "representativeApplying",
          name: "representativeApplying",
          value: data["representativeApplying"],
          fieldset: {
            legend: {
              text: "Are any of the registered proprietors applying through a representative?",
              isPageHeading: false,
              classes: "govuk-fieldset__legend--m"
            }
          },
          hint: {
            text: "For example, through a deputy, receiver or trustee in bankruptcy."
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}