{% extends "layouts/main.html" %}

{% block pageTitle %}
  Check if you can use this application type – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Single transaction application: Severance of joint tenancy</span><br>

      <form action="/sev/v-1-4/6-check-if-you-can-use-this-application-type" method="post">
        <input type="hidden" name="sev_applicationReference" value="{{ data['sev_applicationReference'] }}">
        <h1 class="govuk-heading-xl">Check if you can use this application type</h1>

        <p class="govuk-body">
          Check if this application is eligible for a Single transaction application.
        </p>

        <div class="govuk-inset-text">
          Your application may be processed instantly if you meet all the criteria.
        </div>

        {% from "govuk/components/radios/macro.njk" import govukRadios %}

        {{ govukRadios({
          idPrefix: "singleTitle",
          name: "singleTitle",
          value: data["singleTitle"],
          fieldset: {
            legend: {
              text: "Is this application for a single title?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukRadios({
          idPrefix: "multipleProprietors",
          name: "multipleProprietors",
          value: data["multipleProprietors"],
          fieldset: {
            legend: {
              text: "Is the title held by more than one registered proprietor?",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "yes",
              text: "Yes"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>
{% endblock %}