{% extends "layouts/main.html" %}

{% block pageTitle %}
  You cannot continue with this application – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-xl">Single transaction application: Severance of joint tenancy</span>

      <h1 class="govuk-heading-xl">
        You cannot continue with this application
      </h1>

      <p class="govuk-body">
        Based on information we already hold, at least one of these apply:
      </p>

      <ul class="govuk-list govuk-list--bullet">
        <li>the title is held by only one proprietor</li>
        <li>there is already a Form A restriction on the title</li>
      </ul>

      <p class="govuk-body">
        Because of this, you cannot continue with a severance of joint tenancy.
      </p>

      <p class="govuk-body">
        You can start a different application to make another change to the title.
      </p>

      {{ govukButton({
        text: "Return to Tell us what your application is about",
        href: "/sev/v-1-4/5-tell-us-what-your-application-is-about"
      }) }}

    </div>
  </div>
{% endblock %}