{% extends "layouts/main.html" %}

{% block pageTitle %}
  Attach and certify document - {{ serviceName }} - GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/sev/v-1-3/14b-attach-documents-optional"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <span class="govuk-caption-l">Single transaction application: Severance of joint tenancy</span><br>

      <h1 class="govuk-heading-xl">Attach and certify document</h1>

      <p class="govuk-body">
        Files can be GIF, TIFF, JPG or PDF and must not exceed 40MB file size.
      </p>

      <form action="/sev/v-1-3/14-c-attach-and-certify-document" method="post" novalidate>
        <input type="hidden" name="optionalDocumentFileName" id="optionalDocumentFileName" value="{{ data['optionalDocumentFileName'] }}">

        <div class="govuk-form-group">
          <p class="govuk-body govuk-!-margin-bottom-1">Category</p>
          <p class="govuk-body govuk-!-font-weight-bold">Evidence</p>
        </div>

        <div class="govuk-form-group">
          <p class="govuk-body govuk-!-margin-bottom-1">Document type</p>
          <p class="govuk-body govuk-!-font-weight-bold">Notice of Severance of Joint Tenancy</p>
        </div>

        <div class="govuk-form-group">
          <label class="govuk-label govuk-label--m" for="optional-document-file">
            Attach a file
          </label>
          <input
            class="govuk-file-upload"
            id="optional-document-file"
            name="optionalDocumentFile"
            type="file"
            accept=".pdf,.jpg,.jpeg,.tif,.tiff,.gif">
        </div>

        {{ govukRadios({
          idPrefix: "optionalDocumentCertification",
          name: "optionalDocumentCertification",
          value: data["optionalDocumentCertification"],
          fieldset: {
            legend: {
              text: "Certification",
              classes: "govuk-fieldset__legend--m"
            }
          },
          items: [
            {
              value: "Certified copy",
              text: "I or we certify this is a true copy of an original document"
            },
            {
              value: "Conveyancer certified copy",
              text: "I or we certify this attachment is a true copy of an original document which is certified by a conveyancer to be a true copy of the original"
            },
            {
              value: "Uncertified copy",
              text: "This attachment is an uncertified copy"
            }
          ]
        }) }}

        {{ govukWarningText({
          text: "To avoid requisitions, check that details in the attached Notice of Severance of Joint Tenancy exactly match the information you have provided in this application.",
          iconFallbackText: "Warning"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>

    </div>
  </div>

  <script>
    (function () {
      var fileInput = document.getElementById('optional-document-file');
      var hiddenFileName = document.getElementById('optionalDocumentFileName');

      if (fileInput && hiddenFileName) {
        fileInput.addEventListener('change', function () {
          if (fileInput.files && fileInput.files.length > 0) {
            hiddenFileName.value = fileInput.files[0].name;
          } else {
            hiddenFileName.value = '';
          }
        });
      }
    })();
  </script>
{% endblock %}