{% extends "layouts/main.html" %}

{% block pageTitle %}
  Enter your reference – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Enter your reference</h1>

      <form action="/sev/v-1-3/2-enter-your-reference" method="post">
        {% from "govuk/components/input/macro.njk" import govukInput %}

        {{ govukInput({
          label: {
            text: "Type in your reference for this application"
          },
          id: "application-reference",
          name: "applicationReference",
          value: data["applicationReference"],
          classes: "govuk-input--width-20"
        }) }}

        {{ govukButton({
          text: "Continue"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}



