{% extends "layouts/main.html" %}

{% block pageTitle %}
  Are you a conveyancer? – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">Are you a conveyancer?</h1>

      {% from "govuk/components/details/macro.njk" import govukDetails %}
      {{ govukDetails({
        summaryText: "Which should I select?",
        html: "<p>Select 'Yes' if you are (or are employed and supervised by) a solicitor or conveyancer authorised under the Legal Services Act 2007 to provide reserved legal services relating to land registration.<br>Otherwise, select 'No'.<br>Find out more in <a href=\"#\" target=\"_blank\">Practice Guide 67 (opens in new tab)</a>.</p>"
      }) }}

      <form action="#" method="post">
        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          idPrefix: "conveyancer",
          name: "conveyancer",
          items: [
            {
              value: "yes",
              text: "Yes, I'm a conveyancer or acting on behalf of a conveyancer"
            },
            {
              value: "no",
              text: "No"
            }
          ]
        }) }}

        {{ govukButton({
          text: "Continue",
          href: "/ssa/v6b/s1/4-application-about"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}