{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirm the new lease has a term of 7 years or more – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Confirm you are registering a new lease
      </h1>
      <p>
        The types of new leases you might need to register include:
      </p>
      <ul class="govuk-list govuk-list--bullet">
        <li>
          a new lease (new leases must have a term of at least 7 years and one day)
        </li>
        <li>
          a compulsorily-registered lease
        </li>
        <li>
          a reversionary lease
        </li>
      </ul>
      <div class="govuk-inset-text">
        If your application is a deed or lease varying the term or extent of an existing lease, go back and select ‘Registering a lease extension (varying the term or extent of an existing lease or closing an old lease and registering a new lease for the same property to the same tenant)’.
      </div>
      <form action="/application-about/v1-3/confirm-new-lease-term" method="post">
        {{ govukButton({
          text: "Confirm"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}