{% extends "layouts/main.html" %}

{% block pageTitle %}
  Confirm you are renewing an existing lease – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ super() }}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Confirm this is either a deed varying the term or extent of a lease, or a new lease of the same property to the same tenant
      </h1>
      <p>
        This application creates one application that closes the old lease and creates an application to register the new deed or lease. It can only be used for this combination of lease transactions.
      </p>
      <div class="govuk-inset-text">
        If your application concerns noting a lease with a term of 7 years or less, go back and select ‘Updating, adding, removing or noting information about an existing title on the register’.
      </div>
      <form action="/application-about/v1-3/confirm-renewing-existing-lease" method="post">
        {{ govukButton({
          text: "Confirm"
        }) }}
      </form>
    </div>
  </div>
{% endblock %}