{% extends "layouts/main.html" %}

{% block pageTitle %}
  Amend transferor name – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}
  {% set transferorId = request.query.transferor %}
  {% set transferorName = "" %}

  {% if transferorId == "1" %}
    {% set transferorName = data['transferor1Name'] | default('Sophie Green') %}
  {% elif transferorId == "2" %}
    {% set transferorName = data['transferor2Name'] | default('Emily Pankhurst') %}
  {% endif %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">
          Transfer for value
        </span>
        Amend transferor name
      </h1>

      <h3 class="govuk-heading-m">Current transferor name</h3>
      <p class="govuk-body">{{ transferorName }}</p>

      <h3 class="govuk-heading-m">Enter new transferor name</h3>
      <form action="/s1/amend-transferor-private-individual-name?transferor={{ transferorId }}" method="post">
        {% from "govuk/components/input/macro.njk" import govukInput %}
        {{ govukInput({
          classes: "govuk-input--width-20",
          id: "forenames",
          name: "forenames",
          label: {
            text: "Forenames"
          }
        }) }}
        {{ govukInput({
          classes: "govuk-input--width-20",
          id: "surname",
          name: "surname",
          label: {
            text: "Surname"
          }
        }) }}

        {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
        {{ govukWarningText({
          text: "Name must be exactly as it appears in your supporting documents.",
          iconFallbackText: "Warning"
        }) }}

        <div class="govuk-button-group">
          {{ govukButton({
            text: "Continue",
            type: "submit"
          }) }}
          <a class="govuk-link" href="/s1/review-transferor-details-tor-2">Cancel</a>
        </div>
      </form>
    </div>

    <div class="govuk-grid-column-one-third">
      <!-- Additional content or leave blank -->
    </div>
  </div>
{% endblock %}
