{% extends "layouts/main.html" %}

{% block pageTitle %}
  Review transferor details – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "javascript:window.history.back()"
  }) }}
{% endblock %}

{% block content %}

  <!-- Full Width Div for Heading and Text -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        <span class="govuk-caption-l">
          Transfer for value
        </span>
        Review transferor details
      </h1>
      <h2 class="govuk-heading-l govuk-!-margin-bottom-2">
        Manually-added transferors
      </h2>
      <p class="govuk-body govuk-!-margin-bottom-7">
        These are the details for transferors you have added to this application.
      </p>
    </div>
    <div class="govuk-grid-column-one-third">
      <!-- Empty for alignment -->
    </div>
  </div>

  <!-- Full Width Div for Summary Lists and Details Component -->
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

      <!-- Transferor 1 -->
      {{ govukSummaryList({
        card: {
          title: {
            text: "Transferor 1"
          },
          actions: {
            items: [
              {
                href: "/s1/confirm-remove-transferor-3",
                text: "Remove",
                visuallyHiddenText: "transferor 1"
              }
            ]
          }
        },
        rows: [
          {
            key: { text: "Transferor type" },
            value: { html: "Private individual" },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Amend",
                  visuallyHiddenText: "transferor type"
                }
              ]
            }
          },
          {
            key: { text: "Transferor name" },
            value: { html: data['transferorName'] },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Amend",
                  visuallyHiddenText: "transferor name"
                }
              ]
            }
          },
          {
            key: { text: "Capacity" },  
            value: { html: data['capacity'] },
            actions: {
              items: []
            }
          },
          {
            key: { text: "Acting on behalf of" },
            value: { html: data['transferor1Name'] | default('Sophie Green') },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Amend",
                  visuallyHiddenText: "transferor name"
                }
              ]
            }
          },
          {
            key: { text: "Power of attorney" },
            value: { html: "Not in place" },
            actions: {
              items: [
                {
                  href: "#",
                  text: "Add attorney",
                  visuallyHiddenText: "power of attorney"
                }
              ]
            }
          }
        ]
      }) }}
    </div>

    <div class="govuk-grid-column-one-third">
      <!-- Details Component Here -->
      {% from "govuk/components/details/macro.njk" import govukDetails %}
      {{ govukDetails({
        summaryText: "Guidance on transferors",
        html: "<strong>Manually-added transferors</strong>" +
        "<p class='govuk-body'>You can:</p>" +
        "<ul class='govuk-list govuk-list--bullet'>" +
          "<li>add a party (such as an executor, guardian or administrator)</li>" +
          "<li>amend the transferor name and type</li>" +
          "<li>remove the transferor (this will reinstate the registered proprietor they are acting on behalf of)</li>" +
          "<li>add an attorney</li>" +
          "<li>add a trustee</li>" +
        "</ul>",
        open: true
      }) }}


    </div>
  </div>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Add a trustee",
        href: "#",
        classes: "govuk-button--secondary"
      }) }}

      {% from "govuk/components/warning-text/macro.njk" import govukWarningText %}
      {{ govukWarningText({
        text: "Naming errors lead to requisitions. By selecting 'Continue' you confirm all transferor names are correct.",
        iconFallbackText: "Warning"
      }) }}

      {% from "govuk/components/button/macro.njk" import govukButton %}
      {{ govukButton({
        text: "Continue"
      }) }}
    </div>
  </div>

{% endblock %}
