{% extends "layouts/main.html" %}

{% set showPhaseBanner = true %}
{% set showBackLink = false %}
{% set useAlternativeBackLink = false %}
{% set alternativeBackLinkHref = "/saved-applications" %}

{% block pageTitle %}
  GOV.UK page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">

  <!-- <a href="/s3/enter-title-numbers" class="govuk-back-link">Return to application</a> -->

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
              Some of your titles could not be validated
            </h1>

            <p class="govuk-body">
              We have not been able to validate some of your titles. This could be because there is an error in the title number or because you have included a title that is not supported by DRS.
            </p>
            <p class="govuk-body">
             All these title numbers will be removed from your application (make a note of them now for your reference).
            </p>
            <h2 class="govuk-heading-m">
              What you need to do 
            </h1>
            <p class="govuk-body">
             The table on this page tells you why validation failed and what you need to do. Read this carefully - you can add new or replacement title numbers on the Manage your titles page.  
            </p>
                </div> <!-- ./govuk-grid-column-two-thirds -->
            </div> <!-- ./govuk-grid-row -->

            <div class="govuk-grid-row">
                <div class="govuk-grid-column-full">
                   
                    <table class="govuk-table">
                      <thead class="govuk-table__head">
                        <tr class="govuk-table__row">
                          <th scope="col" class="govuk-table__header">Title number</th>
                          <th scope="col" class="govuk-table__header">Property address</th>
                          <th scope="col" class="govuk-table__header">Reason validation failed</th>
                          <th scope="col" class="govuk-table__header">What you need to do</th>
                        </tr>
                      </thead>
                      <tbody class="govuk-table__body">
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">AB102W</td>
                          <td class="govuk-table__cell">11 Example Street, City 1, AB0 1CD</td>
                          <td class="govuk-table__cell">This title number could not be found.</td>
                          <td class="govuk-table__cell">
                            Check that the title number is correct. If you are sure it is, contact [contact details]
                          </td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">AB102K</td>
                          <td class="govuk-table__cell">11 Example Street, City 1, AB0 1CD</td>
                          <td class="govuk-table__cell">This is not a valid title number.</td>
                          <td class="govuk-table__cell">If there was an error in the title number, correct it and add the corrected title number on the Manage your titles page.</td>
                        </tr>
                        <tr class="govuk-table__row">
                          <td class="govuk-table__cell">AB102E</td>
                          <td class="govuk-table__cell">11 Example Street, City 1, AB0 1CD</td>
                          <td class="govuk-table__cell">This is a Pending title which is not supported by DRS.</td>
                          <td class="govuk-table__cell">If this title has to be included in the application, you’ll have to submit the whole application by post.</td>
                        </tr>
                      </tbody>
                    </table>

                    {{ govukButton({
                      text: "Continue to Manage your titles page",
                      href: "/ssa/v5/s3/manage-titles"
                    }) }}

                </div> <!-- ./govuk-grid-column-full -->
            </div> <!-- ./govuk-grid-row -->


</div> <!-- ./govuk-width-container -->


{% endblock %}
