{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">Prototype Home</h1>

    <h2 class="govuk-heading-m">Select application type prototype</h2>
    <p class="govuk-body">
      This prototype focuses on the initial stage of the application process where users select the type of application they want to make. It aims to guide users to choose the appropriate application type based on their requirements, ensuring that applications are routed to the correct processing path, such as register update, transfer of part, LE, NL or JP1. The prototype explores two different designs and flows to achieve this goal effectively.
    </p>
    <ul class="govuk-list">
      <li>
        <a href="/application-about/v1-3/digital-registration-service" class="govuk-link" rel="noreferrer noopener" target="_self">
          Design v2.3
        </a>
      </li>
      <li>
        <a href="/application-about/v1-2/digital-registration-service" class="govuk-link" rel="noreferrer noopener" target="_self">
          Design v2.2
        </a>
      </li>
    </ul>

    <br>

    <h2 class="govuk-heading-m">Transferor details prototype</h2>
    <p class="govuk-body">
      This prototype is designed for user testing the redesign of the Transferor details section on DRS. It simulates three specific user journeys, focusing on reviewing and amending transferor details. Please note that some links and functionalities outside of these specific journeys may not be operational.
    </p>

    <p class="govuk-body">
      <a href="/user-testing-script" class="govuk-link" rel="noreferrer noopener" target="_blank">
        User testing script (opens in new tab)
      </a>
    </p>

    <p class="govuk-body">
      <a href="/v2s1/review-transferor-details-tor-1-resolve" class="govuk-link" rel="noreferrer noopener" target="_blank">
        Resolve missing information example
      </a>
    </p>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Design v2.9
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list">
          <li>
            <a href="/v2s1/tl-1-start" class="govuk-link" rel="noreferrer noopener" target="_self">
              Scenario 1
            </a>
          </li>
          <li>
            <a href="/v2s2/tl-2-start" class="govuk-link" rel="noreferrer noopener" target="_self">
              Scenario 2
            </a>
          </li>
          <li>
            <a href="/v2s3/tl-3-start" class="govuk-link" rel="noreferrer noopener" target="_self">
              Scenario 3
            </a>
          </li>
        </ul>
      </div>
    </details>

    <details class="govuk-details">
      <summary class="govuk-details__summary">
        <span class="govuk-details__summary-text">
          Design v2.8
        </span>
      </summary>
      <div class="govuk-details__text">
        <ul class="govuk-list">
          <li>
            <a href="/s1/tl-1-start" class="govuk-link" rel="noreferrer noopener" target="_self">
              Scenario 1
            </a>
          </li>
          <li>
            <a href="/s2/tl-2-start" class="govuk-link" rel="noreferrer noopener" target="_self">
              Scenario 2
            </a>
          </li>
          <li>
            <a href="/s3/tl-3-start" class="govuk-link" rel="noreferrer noopener" target="_self">
              Scenario 3
            </a>
          </li>
        </ul>
      </div>
    </details>
  </div>
</div>

{% endblock %}