{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">DRS Prototype</h1>

    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-SSA">
              Small scale applications (SSA)
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-SSA" class="govuk-accordion__section-content">

          <h2 class="govuk-heading-m">Overview</h2>
          <p class="govuk-body">
            This prototype introduces a new journey for small scale applications, based on how many title numbers a user wants to add. Users are asked to choose between ‘1 to 25’ or ‘26 to 199’. If they select ‘1 to 25’, they continue through the current application journey. If they select ‘26 to 199’, they are taken down a new route designed to make bulk entry and processing more efficient.
          </p>

          <p class="govuk-body">
            In this new journey, users can paste in all their title numbers at once. The service then checks these against internal records and automatically extracts key information, such as property addresses and any restrictions. The results are displayed on a new ‘Manage titles’ page, where users can review and confirm the details.
          </p>

           <p class="govuk-body">
            This page also introduces a change to how part transfers are handled. If a user selects ‘part’ for any title, they are now asked to enter the required additional information directly within the same screen. Previously, this step happened later in the journey on a separate page. Bringing it forward reduces duplication and avoids displaying a large list of titles again later on.
          </p>

           <p class="govuk-body">
            Once users confirm everything is correct, they move to the ‘Disclosable overriding interests’ page. From that point, the rest of the application journey follows the existing service.
          </p>

          <h2 class="govuk-heading-m">
            SSA Prototype v6
          </h2>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                SSA: S1 [A]
              </span>
            </summary>
            <div class="govuk-details__text">
              <ol class="govuk-list govuk-list--number">
                <li>Start on the <a href="ssa/v6/s1/1-digital-registration-service" class="govuk-link" target="_blank">Digital Registration Service start page</a></li>
                <li>Paste in a list of 30 valid title numbers</li>
                <li>Proceed to the Manage titles screen and continue the journey successfully</li>
                <li>
                  <a href="/public/docs/s1-titles-list-30.txt" download class="govuk-link">Download test data (30 titles)</a>
                </li>
              </ol>
            </div>
          </details>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                SSA: S1 [B]
              </span>
            </summary>
            <div class="govuk-details__text">
              <ol class="govuk-list govuk-list--number">
                <li>Start on the <a href="ssa/v6b/s1/1-digital-registration-service" class="govuk-link" target="_blank">Digital Registration Service start page</a></li>
                <li>Paste in a list of 30 valid title numbers</li>
                <li>Proceed to the Manage titles screen and continue the journey successfully</li>
                <li>
                  <a href="/public/docs/s1-titles-list-30.txt" download class="govuk-link">Download test data (30 titles)</a>
                </li>
              </ol>
            </div>
          </details>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                SSA: Review your application (S1)
              </span>
            </summary>

            <div class="govuk-details__text">

              <p class="govuk-body">
                This section contains the updated <em>Review your application</em> page for SSA (S1) v6.
                The Property details panel has been redesigned to support the OCV5 title type
                requirement.
              </p>

              <h3 class="govuk-heading-s govuk-!-margin-bottom-1">What has changed</h3>

              <ul class="govuk-list govuk-list--bullet">
                <li>
                  A new table column called <em>Title type</em> now appears immediately after
                  Title number.
                </li>
                <li>
                  Title type shows only <em>Transferor</em> or <em>Related</em>, matching the rules used
                  on the <em>Manage your titles</em> screen.
                </li>
                <li>
                  Expanded table now displays 15 example title rows to demonstrate a
                  mixture of Transferor, Related (whole), and Related (part).
                </li>
                <li>
                  The </em>Property details</em> 'Show title numbers and property details' component opens to reveal the updated table and
                  mirrors the new data structure used in the SSA v6 review journey.
                </li>
              </ul>

              <p class="govuk-body govuk-!-margin-top-4">
                <a href="ssa/review-application" class="govuk-link" target="_blank">
                  Open the updated Review your application page
                </a>
              </p>

            </div>
          </details>


          <h2 class="govuk-heading-m">
            SSA Prototype v5
          </h2>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                SSA: (S1) 
              </span>
            </summary>
            <div class="govuk-details__text">
              <ol class="govuk-list govuk-list--number">
                <li>Start on the <a href="ssa/v5/s1/1-digital-registration-service" class="govuk-link" target="_blank">Digital Registration Service start page</a></li>
                <li>Paste in a list of 30 valid title numbers</li>
                <li>Proceed to the Manage titles screen and continue the journey successfully</li>
                <li>
                  <a href="/public/docs/s1-titles-list-30.txt" download class="govuk-link">Download test data (30 titles)</a>
                </li>
              </ol>
            </div>
          </details>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                SSA: (S2)
              </span>
            </summary>
            <div class="govuk-details__text">
              <ol class="govuk-list govuk-list--number">
                <li>Start on the <a href="ssa/v5/s2/1-digital-registration-service" class="govuk-link" target="_blank">Digital Registration Service start page</a></li>
                <li>Paste in a list of 25 titles to trigger a validation error (you must enter between 26 and 199 titles)</li>
                <li>Retry with a new list of 30 valid titles to continue the journey</li>
                <li>
                  <a href="/public/docs/s2A-titles-list-25.txt" download class="govuk-link">Download test data (25 titles)
                  </a>
                </li>
                 <li>
                    <a href="/public/docs/s2B-titles-list-30.txt" download class="govuk-link">Download test data (30 titles)</a>
                  </li>
              </ol>
            </div>
          </details>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                SSA: (S3)
              </span>
            </summary>
            <div class="govuk-details__text">
              <ol class="govuk-list govuk-list--number">
                <li>Start on the <a href="ssa/v5/s3/1-digital-registration-service" class="govuk-link" target="_blank">Digital Registration Service start page</a></li>
                <li>Paste in a list of 30 titles, including 3 that are unrecognised or unsupported</li>
                <li>See an error page showing the failed titles, with instructions to re-enter all title numbers</li>
                <li>Retry with a corrected list of 27 valid titles and continue the journey via S1</li>
                <li>
                  <a href="/public/docs/s3A-titles-list-30-3E.txt" download class="govuk-link">Download test data (30 titles, 3 errors)</a>
                </li>
                <li>
                  <a href="/public/docs/s3B-titles-list-27.txt" download class="govuk-link">Download test data (corrected list of 27 titles)</a>
                </li>
              </ol>
            </div>
          </details>

          <h2 class="govuk-heading-m">
            SSA Prototype v4
          </h2>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                SSA: (S1) 
              </span>
            </summary>
            <div class="govuk-details__text">
              <ol class="govuk-list govuk-list--number">
                <li>Start on the <a href="ssa/v4/s1/1-digital-registration-service" class="govuk-link" target="_blank">Digital Registration Service start page</a></li>
                <li>Paste in a list of 30 valid title numbers</li>
                <li>Proceed to the Manage titles screen and continue the journey successfully</li>
                <li>
                  <a href="/public/docs/s1-titles-list-30.txt" download class="govuk-link">Download test data (30 titles)</a>
                </li>
              </ol>
            </div>
          </details>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                SSA: (S2)
              </span>
            </summary>
            <div class="govuk-details__text">
              <ol class="govuk-list govuk-list--number">
                <li>Start on the <a href="ssa/v4/s2/1-digital-registration-service" class="govuk-link" target="_blank">Digital Registration Service start page</a></li>
                <li>Paste in a list of 25 titles to trigger a validation error (you must enter between 26 and 199 titles)</li>
                <li>Retry with a new list of 30 valid titles to continue the journey</li>
                <li>
                  <a href="/public/docs/s2A-titles-list-25.txt" download class="govuk-link">Download test data (25 titles)
                  </a>
                </li>
                 <li>
                    <a href="/public/docs/s2B-titles-list-30.txt" download class="govuk-link">Download test data (30 titles)</a>
                  </li>
              </ol>
            </div>
          </details>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                SSA: (S3)
              </span>
            </summary>
            <div class="govuk-details__text">
              <ol class="govuk-list govuk-list--number">
                <li>Start on the <a href="ssa/v4/s3/1-digital-registration-service" class="govuk-link" target="_blank">Digital Registration Service start page</a></li>
                <li>Paste in a list of 30 titles, including 3 that are unrecognised or unsupported</li>
                <li>See an error page showing the failed titles, with instructions to re-enter all title numbers</li>
                <li>Retry with a corrected list of 27 valid titles and continue the journey via S1</li>
                <li>
                  <a href="/public/docs/s3A-titles-list-30-3E.txt" download class="govuk-link">Download test data (30 titles, 3 errors)</a>
                </li>
                <li>
                  <a href="/public/docs/s3B-titles-list-27.txt" download class="govuk-link">Download test data (corrected list of 27 titles)</a>
                </li>
              </ol>
            </div>
          </details>
          <hr>
          <br>

          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                SSA: Data details (for internal reference)
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list govuk-list--bullet">
                <li><strong>s1-titles-list-30.txt</strong>: 30 valid titles (happy path)</li>
                <li><strong>s2A-titles-list-25.txt</strong>: 25 titles – triggers minimum title validation error</li>
                <li><strong>s2B-titles-list-30.txt</strong>: Corrected version of S2 with 30 valid titles</li>
                <li><strong>s3A-titles-list-30-3E.txt</strong>: 30 titles including 3 invalid or unsupported titles</li>
                <li><strong>s3B-titles-list-27.txt</strong>: Corrected version of S3 with 27 valid titles</li>
              </ul>
            </div>
          </details>


        </div>
      </div>


      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              Implementation of VCAD Validation Flow (Part 1)
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content">
          <section>
              <h2 class="govuk-heading-m">
                Overview
              </h2
              <p class="govuk-body">
                This prototype demonstrates the new Validating Customer Application Data (VCAD) implementation for DRS. Part 1 focuses on the enhanced submission flow and new application status management system, introducing level 3 validation which compares user-input data against, known data and extracted document data.
              </p>
          </section>

          <section>
              <h2 class="govuk-heading-m">
                Key Changes
              </h2>
              <ul class="govuk-list govuk-list--bullet">
                  <li class="govuk-body">New "Applications" page (formerly "Saved applications") showing all application statuses</li>
                  <li class="govuk-body">Introduction of level 3 validation (VCAD) for document data extraction</li>
                  <li class="govuk-body">Enhanced status management: Validating, Rejected, and Accepted statuses</li>
                  <li class="govuk-body">Improved application tracking with filtering capabilities</li>
                  <li class="govuk-body">New interim page explaining the validation process</li>
              </ul>
          </section>

          <section>
            <h2 class="govuk-heading-m">
              Key Change in Routing
            </h2>
            <p class="govuk-body">
              Instead of users being routed directly to success/failure pages, all scenarios now direct users through to the new Applications page. This centralised approach allows users to manage and monitor all their applications from a single location. Given that Level 3 data extraction may take longer to process, this approach ensures users can continue with other tasks without waiting for validation to complete, providing a more efficient experience overall.
              {% from "govuk/components/inset-text/macro.njk" import govukInsetText %}

              {{ govukInsetText({
                text: "We plan to review this routing model once the extraction pilot results are available, to ensure it remains the optimal solution based on practical insights."
              }) }}
            </p>
          </section>

          <h2 class="govuk-heading-s">
            March 2025
          </h2>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Scenario 1: Successful Submission
                </span>
            </summary>
            <div class="govuk-details__text">
                <ol class="govuk-list govuk-list--number">
                    <li class="govuk-body">
                        User starts on the <a href="/vcad/ur-v4/s1/1-review-application" target="_blank" class="govuk-link">Review Your Application</a> page
                    </li>
                    <li class="govuk-body">Clicks "Confirm and submit" button</li>
                    <li class="govuk-body">Routes to interim page explaining validation process</li>
                    <li class="govuk-body">User clicks "Continue" button</li>
                    <li class="govuk-body">Routes to new Applications page where:
                        <ul class="govuk-list govuk-list--bullet">
                            <li class="govuk-body">Application appears in the top row</li>
                            <li class="govuk-body">Status shows as <strong class="govuk-tag govuk-tag--green govuk-tag-bm02">Accepted</strong></li>
                        </ul>
                    </li>
                    <li class="govuk-body">User selects "Open" from action dropdown</li>
                    <li class="govuk-body">Routes to "Application submitted" confirmation page with links to View Applications for detailed information
                    </li>
                </ol>
              </div>
          </details>

          <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Scenario 2: Validation In Progress (in submission)
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <ol class="govuk-list govuk-list--number">
                       <li class="govuk-body">
                          User starts on the <a href="/vcad/ur-v4/s3/1-review-application" target="_blank" class="govuk-link">Review Your Application</a> page
                      </li>
                        <li class="govuk-body">Clicks "Confirm and submit" button</li>
                        <li class="govuk-body">Routes to interim page explaining validation process</li>
                        <li class="govuk-body">User clicks "Continue" button</li>
                        <li class="govuk-body">Routes to new Applications page where:
                            <ul class="govuk-list govuk-list--bullet">
                                <li class="govuk-body">Application appears in the third row</li>
                                <li class="govuk-body">Status shows as <div class="govuk-tag govuk-tag--blue govuk-tag-bm02">In submission</div></li>
                            </ul>
                        </li>
                        <li class="govuk-body">User selects "Open" from action dropdown</li>
                        <li class="govuk-body">Routes to "Application Being Validated" page</li>
                        <li class="govuk-body">User clicks "Continue" button</li>
                        <li class="govuk-body">Returns to Applications page with status updating automatically to either "Accepted" or "Rejected"</li>
                    </ol>
                </div>
            </details>

          <h2 class="govuk-heading-s">
            February 2025
          </h2>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Scenario 1: Successful Submission
                </span>
            </summary>
            <div class="govuk-details__text">
                <ol class="govuk-list govuk-list--number">
                    <li class="govuk-body">
                        User starts on the <a href="/vcad/ur-v3/s1/1-review-application" target="_blank" class="govuk-link">Review Your Application</a> page
                    </li>
                    <li class="govuk-body">Clicks "Confirm and submit" button</li>
                    <li class="govuk-body">Routes to interim page explaining validation process</li>
                    <li class="govuk-body">User clicks "Continue" button</li>
                    <li class="govuk-body">Routes to new Applications page where:
                        <ul class="govuk-list govuk-list--bullet">
                            <li class="govuk-body">Application appears in the top row</li>
                            <li class="govuk-body">Status shows as <strong class="govuk-tag govuk-tag--green govuk-tag-bm02">Accepted</strong></li>
                        </ul>
                    </li>
                    <li class="govuk-body">User selects "Open" from action dropdown</li>
                    <li class="govuk-body">Routes to "Application submitted" confirmation page with links to View Applications for detailed information
                    </li>
                </ol>
              </div>
          </details>


          <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                      Scenario 2: Rejected Submission
                  </span>
              </summary>
              <div class="govuk-details__text">
                <p class="govuk-body"><b>REDUNDANT FOR PHASE 1- NO REJECTED STATUS</b></p>
                  <ol class="govuk-list govuk-list--number">
                      <li class="govuk-body">
                        User starts on the <a href="/vcad/ur-v3/s2/1-review-application" target="_blank" class="govuk-link">Review Your Application</a> page
                    </li>
                      <li class="govuk-body">Clicks "Confirm and submit" button</li>
                      <li class="govuk-body">Routes to interim page explaining validation process</li>
                      <li class="govuk-body">User clicks "Continue" button</li>
                      <li class="govuk-body">Routes to new Applications page where:
                          <ul class="govuk-list govuk-list--bullet">
                              <li class="govuk-body">Application appears in second row</li>
                              <li class="govuk-body">Status shows as <strong class="govuk-tag govuk-tag--red govuk-tag-bm02">Rejected</strong></li>
                          </ul>
                      </li>
                      <li class="govuk-body">User selects "Open" from action dropdown</li>
                      <li class="govuk-body">Routes to error management system (Part 2 - <strong>not included</strong> in current prototype)</li>
                  </ol>
                </div>
            </details>

            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Scenario 3: Validation In Progress (in submission)
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <ol class="govuk-list govuk-list--number">
                       <li class="govuk-body">
                          User starts on the <a href="/vcad/ur-v3/s3/1-review-application" target="_blank" class="govuk-link">Review Your Application</a> page
                      </li>
                        <li class="govuk-body">Clicks "Confirm and submit" button</li>
                        <li class="govuk-body">Routes to interim page explaining validation process</li>
                        <li class="govuk-body">User clicks "Continue" button</li>
                        <li class="govuk-body">Routes to new Applications page where:
                            <ul class="govuk-list govuk-list--bullet">
                                <li class="govuk-body">Application appears in the third row</li>
                                <li class="govuk-body">Status shows as <div class="govuk-tag govuk-tag--blue govuk-tag-bm02">In submission</div></li>
                            </ul>
                        </li>
                        <li class="govuk-body">User selects "Open" from action dropdown</li>
                        <li class="govuk-body">Routes to "Application Being Validated" page</li>
                        <li class="govuk-body">User clicks "Continue" button</li>
                        <li class="govuk-body">Returns to Applications page with status updating automatically to either "Accepted" or "Rejected"</li>
                    </ol>
                </div>
            </details>

            <h2 class="govuk-heading-s">
              January 2025
            </h2>
          <details class="govuk-details" data-module="govuk-details">
            <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                    Scenario 1: Successful Submission
                </span>
            </summary>
            <div class="govuk-details__text">
                <ol class="govuk-list govuk-list--number">
                    <li class="govuk-body">
                        User starts on the <a href="/vcad/ur-v1/s1/1-review-application" target="_blank" class="govuk-link">Review Your Application</a> page
                    </li>
                    <li class="govuk-body">Clicks "Send for Validation" button</li>
                    <li class="govuk-body">Routes to interim page explaining validation process</li>
                    <li class="govuk-body">User clicks "Continue" button</li>
                    <li class="govuk-body">Routes to new Applications page where:
                        <ul class="govuk-list govuk-list--bullet">
                            <li class="govuk-body">Application appears in the top row</li>
                            <li class="govuk-body">Status shows as <strong class="govuk-tag govuk-tag--green govuk-tag-bm02">Accepted</strong></li>
                        </ul>
                    </li>
                    <li class="govuk-body">User selects "Open" from action dropdown</li>
                    <li class="govuk-body">Routes to "Application submitted" confirmation page with links to View Applications for detailed information
                    </li>
                </ol>
              </div>
          </details>


          <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                      Scenario 2: Rejected Submission
                  </span>
              </summary>
              <div class="govuk-details__text">
                  <ol class="govuk-list govuk-list--number">
                      <li class="govuk-body">
                        User starts on the <a href="/vcad/ur-v1/s2/1-review-application" target="_blank" class="govuk-link">Review Your Application</a> page
                    </li>
                      <li class="govuk-body">Clicks "Send for Validation" button</li>
                      <li class="govuk-body">Routes to interim page explaining validation process</li>
                      <li class="govuk-body">User clicks "Continue" button</li>
                      <li class="govuk-body">Routes to new Applications page where:
                          <ul class="govuk-list govuk-list--bullet">
                              <li class="govuk-body">Application appears in second row</li>
                              <li class="govuk-body">Status shows as <strong class="govuk-tag govuk-tag--red govuk-tag-bm02">Rejected</strong></li>
                          </ul>
                      </li>
                      <li class="govuk-body">User selects "Open" from action dropdown</li>
                      <li class="govuk-body">Routes to error management system (Part 2 - <strong>not included</strong> in current prototype)</li>
                  </ol>
                </div>
            </details>

            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Scenario 3: Validation In Progress
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <ol class="govuk-list govuk-list--number">
                       <li class="govuk-body">
                          User starts on the <a href="/vcad/ur-v1/s3/1-review-application" target="_blank" class="govuk-link">Review Your Application</a> page
                      </li>
                        <li class="govuk-body">Clicks "Send for Validation" button</li>
                        <li class="govuk-body">Routes to interim page explaining validation process</li>
                        <li class="govuk-body">User clicks "Continue" button</li>
                        <li class="govuk-body">Routes to new Applications page where:
                            <ul class="govuk-list govuk-list--bullet">
                                <li class="govuk-body">Application appears in the third row</li>
                                <li class="govuk-body">Status shows as <div class="govuk-tag govuk-tag--blue govuk-tag-bm02">Validating</div></li>
                            </ul>
                        </li>
                        <li class="govuk-body">User selects "Open" from action dropdown</li>
                        <li class="govuk-body">Routes to "Application Being Validated" page</li>
                        <li class="govuk-body">User clicks "Continue" button</li>
                        <li class="govuk-body">Returns to Applications page with status updating automatically to either "Accepted" or "Rejected"</li>
                    </ol>
                </div>
            </details>

            <hr>
            <br>
            <h2 class="govuk-heading-m">
              Pre VCAD version
            </h2>
            <h3 class="govuk-heading-s">
              Test A:
            </h3>

            <details class="govuk-details" data-module="govuk-details">
              <summary class="govuk-details__summary">
                  <span class="govuk-details__summary-text">
                      Scenario 1: Successful Submission
                  </span>
              </summary>
              <div class="govuk-details__text">
                  <ol class="govuk-list govuk-list--number">
                      <li class="govuk-body">
                          User starts on the <a href="/vcad/ur-v2/s1/1-review-application" target="_blank" class="govuk-link">Review Your Application</a> page
                      </li>
                      <li class="govuk-body">Clicks "Send for Validation" button</li>
                      <li class="govuk-body">Routes to interim page explaining validation process</li>
                      <li class="govuk-body">User clicks "Continue" button</li>
                      <li class="govuk-body">Routes to new Applications page where:
                          <ul class="govuk-list govuk-list--bullet">
                              <li class="govuk-body">Application appears in the top row</li>
                              <li class="govuk-body">Status shows as <strong class="govuk-tag govuk-tag--green govuk-tag-bm02">Accepted</strong></li>
                          </ul>
                      </li>
                      <li class="govuk-body">User selects "Open" from action dropdown</li>
                      <li class="govuk-body">Routes to "Application submitted" confirmation page with links to View Applications for detailed information
                      </li>
                      <li class="govuk-body">User selects "Go to View Applications" from action dropdown and Application <em>BT21456</em> is now accessible (via drop down) in <em>View Applications</em>. It is also possible to navigate back to the DRS Applications page via the <em>View Applications</em> navigation at the top of the page eg. <em>Services > Digital Registration Service</em>.
                      </li>

                  </ol>
                </div>
            </details>

            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Scenario 2: Validation In Progress
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <ol class="govuk-list govuk-list--number">
                       <li class="govuk-body">
                          User starts on the <a href="/vcad/ur-v2/s3/1-review-application" target="_blank" class="govuk-link">Review Your Application</a> page
                      </li>
                        <li class="govuk-body">Clicks "Send for Validation" button</li>
                        <li class="govuk-body">Routes to interim page explaining validation process</li>
                        <li class="govuk-body">User clicks "Continue" button</li>
                        <li class="govuk-body">Routes to new Applications page where:
                            <ul class="govuk-list govuk-list--bullet">
                                <li class="govuk-body">Application appears in the third row</li>
                                <li class="govuk-body">Status shows as <div class="govuk-tag govuk-tag--blue govuk-tag-bm02">Validating</div></li>
                            </ul>
                        </li>
                        <li class="govuk-body">User selects "Open" from action dropdown</li>
                        <li class="govuk-body">Routes to "Application Being Validated" page</li>
                        <li class="govuk-body">User clicks "Continue" button</li>
                        <li class="govuk-body">Returns to Applications page with status updating automatically to either "Accepted" or "Rejected"</li>
                    </ol>
                </div>
            </details>

            <h3 class="govuk-heading-s">
              Test B:
            </h3>

            <details class="govuk-details" data-module="govuk-details">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text">
                        Scenario 1: Successful Submission
                    </span>
                </summary>
                <div class="govuk-details__text">
                    <ol class="govuk-list govuk-list--number">
                      <li class="govuk-body">
                          User starts on the <a href="/vcad/ur-v2/s2/1-review-application" target="_blank" class="govuk-link">Review Your Application</a> page
                      </li>
                      <li class="govuk-body">Clicks "Send for Validation" button</li>
                      <li class="govuk-body">Routes to interim page explaining validation process</li>
                      <li class="govuk-body">User clicks "Continue" button</li>
                      <li class="govuk-body">Routes to new Applications page where:
                          <ul class="govuk-list govuk-list--bullet">
                              <li class="govuk-body">Application appears in the top row</li>
                              <li class="govuk-body">Status shows as <strong class="govuk-tag govuk-tag--green govuk-tag-bm02">Accepted</strong></li>
                              <li>Addition guidance is contained within a details component 'Guidance on selecting an action'</li>
                          </ul>
                      </li>
                      <li class="govuk-body">User selects "Open" from action dropdown</li>
                      <li class="govuk-body">Routes to "Application submitted" confirmation page with links to View Applications for detailed information
                      </li>
                      <li class="govuk-body">User selects "Go to View Applications" from action dropdown and Application <em>BT21456</em> is now accessible (via drop down) in <em>View Applications</em>. It is also possible to navigate back to the DRS Applications page via the <em>View Applications</em> navigation at the top of the page eg. <em>Services > Digital Registration Service</em>.
                      </li>
                  </ol>
                  </div>
              </details>

              <details class="govuk-details" data-module="govuk-details">
                  <summary class="govuk-details__summary">
                      <span class="govuk-details__summary-text">
                          Scenario 2: Validation In Progress
                      </span>
                  </summary>
                  <div class="govuk-details__text">
                      <ol class="govuk-list govuk-list--number">
                         <li class="govuk-body">
                            User starts on the <a href="/vcad/ur-v2/s3/1-review-application" target="_blank" class="govuk-link">Review Your Application</a> page
                        </li>
                          <li class="govuk-body">Clicks "Send for Validation" button</li>
                          <li class="govuk-body">Routes to interim page explaining validation process</li>
                          <li class="govuk-body">User clicks "Continue" button</li>
                          <li class="govuk-body">Routes to new Applications page where:
                              <ul class="govuk-list govuk-list--bullet">
                                  <li class="govuk-body">Application appears in the third row</li>
                                  <li class="govuk-body">Status shows as <div class="govuk-tag govuk-tag--blue govuk-tag-bm02">Validating</div></li>
                              </ul>
                          </li>
                          <li class="govuk-body">User selects "Open" from action dropdown</li>
                          <li class="govuk-body">Routes to "Application Being Validated" page</li>
                          <li class="govuk-body">User clicks "Continue" button</li>
                          <li class="govuk-body">Returns to Applications page with status updating automatically to either "Accepted" or "Rejected"</li>
                      </ol>
                  </div>
              </details>


        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              Select application type prototype
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content">
            <p class="govuk-body">
              This prototype focuses on the initial stage of the application process where users select the type of application they want to make. It aims to guide users to choose the appropriate application type based on their requirements, ensuring that applications are routed to the correct processing path, such as register update, transfer of part, LE, NL or JP1. The prototype explores various designs and flows to achieve this goal effectively.
            </p>
            <ul class="govuk-list">
              <li>
                <a href="/application-about/v1-6b/digital-registration-service" class="govuk-link" rel="noreferrer noopener" target="_self">
                  Design v1.6B
                </a>
              </li>
              <li>
                <a href="/application-about/v1-3/digital-registration-service" class="govuk-link" rel="noreferrer noopener" target="_self">
                  Design v1.3
                </a>
              </li>
              <li>
                <a href="/application-about/v1-2/digital-registration-service" class="govuk-link" rel="noreferrer noopener" target="_self">
                  Design v1.2
                </a>
              </li>
            </ul>
        </div>
      </div>
      <div class="govuk-accordion__section">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              Transferor details prototype
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content">
          <p class="govuk-body">
            This prototype is designed for user testing the redesign of the Transferor details section on DRS. It simulates three specific user journeys, focusing on reviewing and amending transferor details. Please note that some links and functionalities outside of these specific journeys may not be operational.
          </p>

          <p class="govuk-body">
            <a href="/user-testing-script" class="govuk-link" rel="noreferrer noopener" target="_blank">
              User testing script (opens in new tab)
            </a>
          </p>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Design v2.9
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list">
                <li>
                  <a href="/v2s1/tl-1-start" class="govuk-link" rel="noreferrer noopener" target="_self">
                    Scenario 1
                  </a>
                </li>
                <li>
                  <a href="/v2s2/tl-2-start" class="govuk-link" rel="noreferrer noopener" target="_self">
                    Scenario 2
                  </a>
                </li>
                <li>
                  <a href="/v2s3/tl-3-start" class="govuk-link" rel="noreferrer noopener" target="_self">
                    Scenario 3
                  </a>
                </li>
              </ul>
            </div>
          </details>

          <details class="govuk-details">
            <summary class="govuk-details__summary">
              <span class="govuk-details__summary-text">
                Design v2.8
              </span>
            </summary>
            <div class="govuk-details__text">
              <ul class="govuk-list">
                <li>
                  <a href="/s1/tl-1-start" class="govuk-link" rel="noreferrer noopener" target="_self">
                    Scenario 1
                  </a>
                </li>
                <li>
                  <a href="/s2/tl-2-start" class="govuk-link" rel="noreferrer noopener" target="_self">
                    Scenario 2
                  </a>
                </li>
                <li>
                  <a href="/s3/tl-3-start" class="govuk-link" rel="noreferrer noopener" target="_self">
                    Scenario 3
                  </a>
                </li>
              </ul>
            </div>
          </details>

          <p class="govuk-body">
            <a href="/v2s1/review-transferor-details-tor-1-resolve" class="govuk-link" rel="noreferrer noopener" target="_blank">
              Resolve missing information example
            </a>
          </p>
        </div>
      </div>
    </div>

  </div>
</div>

{% endblock %}