{% extends "layouts/main.html" %}

{% set pageName="Home" %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/index"
  }) }}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
	<div class="govuk-grid-column-two-thirds">

		<h1 class="govuk-heading-xl">
			User testing script
		</h1>

			<p class="govuk-body">
		  	This prototype is developed to simulate a specific user journey, focusing on reviewing and amending transferor details. Please be aware that some links and functionalities outside of this specific journey may not be operational."
		  </p>

			<h2 class="govuk-heading-l">
			  Scenario 1: Updating Transferor Details
			</h2>

			{{ govukInsetText({
			  text: "This scenario involves updating the register for two registered proprietors, Emily Pankhurst and Sophie Green. The tasks will guide you through various actions such as removing a transferor, adding parties, and amending details."
			}) }}

	    <h2 class="govuk-heading-m">Scenario Overview</h2>
	    <p class="govuk-body">
	      Emily Pankhurst has passed away, and Jane Jenkins is now acting on behalf of Sophie Green. However, there is a <strong>mix-up with the instructions</strong>, requiring further updates and corrections.
	    </p>

	    <h3 class="govuk-heading-s">Task 1: Initial Updates</h3>
	    <ol class="govuk-list govuk-list--number">
	      <li>Remove Emily Pankhurst.</li>
	      <li>Check the details are now correct.</li>
	      <li>Add a party called 'Jane Jenkins' as a receiver (Insolvency) for Sophie.</li>
	      <li>Check the details are now correct.</li>
	    </ol>

	    <h3 class="govuk-heading-s">Task 2: Correcting the Mixup</h3>
	    <p class="govuk-body">Due to a misunderstanding, Jane Jenkins was incorrectly added. She is acting on behalf of another person on a different title.</p>
	    <ol class="govuk-list govuk-list--number">
	      <li>Remove 'Jane Jenkins'.</li>
	      <li>Check the details are correct (Sophie Green has been reinstated).</li>
	      <li>Add a trustee called 'Sarah Brook' for Sophie Green.</li>
	      <li>Check the details are now correct.</li>
	    </ol>

	    <h3 class="govuk-heading-s">Task 3: Final Amendment</h3>
	    <p class="govuk-body">It was later discovered that the trustee's name is 'Sarah Brooks', not 'Sarah Brook'.</p>
	    <ol class="govuk-list govuk-list--number">
	      <li>Amend the trustee name to 'Sarah Brooks'.</li>
	      <li>Check the details are now correct.</li>
	      <li>End.</li>
	    </ol>

	    <h3 class="govuk-heading-s">Actions Covered</h3>
	    <ul class="govuk-list govuk-list--bullet">
	      <li>'Remove' (1 of 2 Registered Proprietors)</li>
	      <li>'Add a party'</li>
	      <li>'Remove' (a party)</li>
	      <li>'Add a trustee'</li>
	      <li>'Amend' (name)</li>
	    </ul>
		</p>

		<h2 class="govuk-heading-l">
		  User testing script - Scenario 2
		</h2>

		{{ govukInsetText({
		  text: "This scenario involves resetting transferor details and updating the register to include 'Robert Ford' and 'Sandra Ford' as the registered proprietors. Additionally, an attorney named 'Duncan James' will be added and then removed to test the functionality."
		}) }}

		<h2 class="govuk-heading-m">Task 1: Reset and Update Transferor Details</h2>
		<ol class="govuk-list govuk-list--number">
		  <li>Reset the transferor details.</li>
		  <li>Add a new proprietor called 'Robert Ford'.</li>
		  <li>Add a transferor 'Sandra Ford' (registered proprietor).</li>
		  <li>Check the details are now correct.</li>
		  <li>Add an attorney called 'Duncan James' for 'Sandra Ford'.</li>
		  <li>Check the details are now correct.</li>
		</ol>

		<h2 class="govuk-heading-m">Task 2: Removing an Attorney</h2>
		<p class="govuk-body">This task is to test how the system handles the removal of an attorney.</p>
		<ol class="govuk-list govuk-list--number">
		  <li>Remove attorney 'Duncan James' from 'Sandra Ford'.</li>
		  <li>Check the details are now correct.</li>
		  <li>End.</li>
		</ol>

		<h2 class="govuk-heading-l">
		  User testing script - Scenario 3
		</h2>

		{{ govukInsetText({
		  text: "This scenario involves correcting an error where a transferor was incorrectly removed from the register."
		}) }}

		<h2 class="govuk-heading-m">Task 1: Removing a Transferor</h2>
		<ol class="govuk-list govuk-list--number">
		  <li>Remove Emily.</li>
		  <li>Check the details are now correct.</li>
		</ol>

		<h2 class="govuk-heading-m">Task 2: Reinstating a Transferor</h2>
		<ol class="govuk-list govuk-list--number">
		  <li>Reinstate Emily.</li>
		  <li>Check the details are now correct.</li>
		  <li>End.</li>
		</ol>
	</div> <!-- ./govuk-grid-column-two-thirds -->
</div> <!-- ./govuk-grid-row -->

{% endblock %}
